@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 18px;
}

.nav {
  width: 100%;
  padding: 22px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
}

.logo {
  font-weight: bold;
}

.btns {
  font-weight: bold;
}

.btn {
  font-family: inherit;
  font-weight: inherit;
  border: none;
  padding: 16px 42px;
  background: transparent;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-link {
  padding: 8px 24px;
  color: #00724c;
  border-bottom: 2px solid transparent;
}

.btn-link:hover, .btn-link:focus {
  color: #006241;
  border-bottom: 2px solid #006241;
}

.btn-solid {
  border: 2px solid transparent;
  background-color: #00724c;
  color: #fff;
}

.btn-solid:hover,
.btn-solid:focus {
  background-color: #006241;
}

.btn-outline {
  border: 2px solid transparent;
}

.btn-outline:hover,
.btn-outline:focus {
  border-color: #006241;
}

.btn-white {
  background-color: #c8c8c8;
  color: #333;
  border-bottom: 2px solid transparent;
}

.btn-white:hover, .btn-white:focus {
  background-color: #a8a8a8;
}

/* Home section */
.home {
  min-height: 90vh;
  padding: 65px 180px;
  background: #333 url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGElMjBrbmlmZSUyMGluJTIwYnVyZ2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat center/cover;
  color: white;
}

.home-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.home-title {
  font-size: 64px;
  font-weight: 700;
  max-width: 12ch;
  margin-bottom: 12px;
}

.home-para {
  max-width: 50ch;
  margin-bottom: 24px;
}

.features {
  padding: 65px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px 64px;
}

.feature {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 48px 25px;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media only screen and (max-width: 730px) {
  .feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.feature-title {
  max-width: 7ch;
}

.feature-1 {
  background-image: url(food.svg);
}

.feature-2 {
  background-image: url(grocery.svg);
}

.feature-3 {
  background-image: url(medicine.svg);
}

.marker {
  background: none;
  color: #006241;
}

.foods {
  margin: 24px 0;
  padding: 0 32px;
}

.foods__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.foods__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
  gap: 32px 10px;
}

.food {
  width: 100%;
}

.food__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.food__footer {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ededed;
}

.food .btn {
  padding: 2px 0;
}

.discounts {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 55px;
  padding: 0 50px;
}

@media only screen and (max-width: 900px) {
  .discounts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .discounts > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.discount {
  width: 100%;
  padding: 54px 40px;
}

.discount__title {
  font-size: 48px;
  color: white;
  max-width: 10ch;
}

@media only screen and (max-width: 900px) {
  .discount__title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .discount__title {
    font-size: 28px;
  }
}

.discount:nth-child(1) {
  background: url(dish.svg) no-repeat center/cover;
}

.discount:nth-child(2) {
  background: url(dish2.svg) no-repeat center/cover;
}

.discount-box {
  margin: 65px;
  border: 2px solid #333;
  padding: 24px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount-box .discount__title {
  color: #333;
  max-width: 15ch;
}

.discount-box__image {
  width: 30%;
}

.order-now {
  margin: 60px;
}

.order-now__image {
  width: 100%;
}

.footer {
  width: 100%;
}

.footer__nav {
  padding: 25px 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00724c;
  color: #fff;
}

.footer__footer {
  padding: 25px 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00724c;
  color: #fff;
}

.footer__left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__separator {
  display: block;
  width: 2px;
  margin: 0 10px;
  height: 20px;
  background: #c8c8c8;
}

.footer__text {
  font-size: 14px;
  color: #c8c8c8;
}

.footer__main {
  padding: 50px 110px;
  background-color: #006241;
  display: -ms-grid;
  display: grid;
  gap: 30px;
      grid-template-areas: "left buy cycle hotel"
 "left trip contact about";
}

@media only screen and (max-width: 900px) {
  .footer__main {
    padding: 50px 60px;
        grid-template-areas: "left buy cycle"
 "left hotel trip"
 "left contact about";
  }
}

@media only screen and (max-width: 600px) {
  .footer__main {
        grid-template-areas: "left" "buy" " cycle" "hotel" "trip" "contact" "about";
    justify-items: center;
  }
}

.footer__social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
  margin: 24px 0;
}

.footer__social__link {
  color: #000;
  font-size: 30px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__social__link:hover {
  color: #aaa;
}

.box__title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 18px;
}

.box .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  gap: 10px 0;
}

.box__link {
  color: #bbb;
  text-decoration: none;
}

.box__link:hover, .box__link:focus {
  color: #eee;
}

.box-buy {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: buy;
}

.box-cycle {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cycle;
}

.box-hotel {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: hotel;
}

.box-trip {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: trip;
}

.box-contact {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: contact;
}

.box-about {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: about;
}
/*# sourceMappingURL=index.css.map */